<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Incluindo as configuracoes padroes dos logs (CONSOLE) -->
<!--     <include resource="org/springframework/boot/logging/logback/base.xml"/>-->




    <!-- Registra os logos no Console da IDE-->
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{ISO8601} %highlight(%-5level) [%magenta(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>


    <!-- =========================================================================================================== -->

    <!-- Arquivo de propriedades -->
    <springProperty name="logglyToken" source="logging.loggly.token"/>

    <!-- https://williancorrea.loggly.com/live_tail -->
    <appender name="loggly"
              class="ch.qos.logback.ext.loggly.LogglyAppender">
        <endpointUrl>https://logs-01.loggly.com/inputs/${logglyToken}/tag/logback</endpointUrl>
        <pattern>%d{"ISO8601", UTC} %p %t %c %M - %m%n</pattern>
    </appender>

    <!-- Registra os logs de forma assincrona-->
    <appender name="logglyAsync"
              class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="loggly"/>
    </appender>
    <!-- =========================================================================================================== -->


    <!-- Loga as informacoes da requisição HTTP no console -->
    <logger name="br.com.gestao.config.CustomizedRequestLoggingFilter" level="debug" additivity="false">
<!--        <appender-ref ref="Console"/>-->
<!--        <springProfile name="production">-->
<!--            <appender-ref ref="logglyAsync"/>-->
<!--        </springProfile>-->
    </logger>

    <!-- Logs GERAL da aplicacao toda -->
    <logger name="br.com.gestao" level="trace" additivity="false">
        <appender-ref ref="Console"/>
        <springProfile name="production">
            <appender-ref ref="logglyAsync"/>
        </springProfile>
    </logger>

    <!-- Adiciona os logger no contexto principal -->
    <root>
        <appender-ref ref="Console"/>
        <springProfile name="production">
            <appender-ref ref="logglyAsync"/>
        </springProfile>
    </root>

</configuration>
